.li {














color: var(--Black, #303030);
text-align: center;

/* Heading 1 */
font-family: Poppins;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 68px; /* 121.429% */
















}

