.back {














color: var(--Black, #303030);
text-align: center;

color: var(--Orange, #FF624C);

/* Heading 6 */
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 150% */




















}

