.back {




color: var(--Black, #303030);

color: var(--White, #FFF);

/* Heading 5 */
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 150% */



















}

