@import "tailwindcss";

@theme {
  --color-orange: #FF624C; 
  --color-black: #303030; 
  --color-yellow: #FED550; 
  --color-lightGray: #F4F4F4; 
  --color-orTen: #FFEFED; 
}

.brand.slick-slider .slick-track {
  @apply flex justify-center gap-[198px];
}

.feature_product_slide.slick-slider .slick-track {
  @apply flex gap-1;
}

.spring_sale.slick-slider .slick-track {
  @apply flex gap-6;
}

.slick-prev:before,
.slick-next:before {
  display: none;
}

.icon:hover path {
  fill: #ff624c;
}

input[type="range"]::-webkit-slider-thumb {
  width: 16px;
  height: 16px;
  background: #ff624c;
  border-radius: 50%;
  pointer-events: auto;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type="range"]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #ff624c;
  border-radius: 50%;
  pointer-events: auto;
  cursor: pointer;
  -webkit-appearance: none;
}

.targetInput:checked + .customCheckBox {
  background: var(--color-orange);
  border:  var(--color-orange);
}

.targetInputParen:has(.targetInput:checked ){
  font-weight: 700;
}

