@import "tailwindcss";

@theme {
  --color-orange: #FF624C; 
  --color-black: #303030; 
  --color-yellow: #FED550; 
  --color-lightGray: #F4F4F4; 
  --color-orTen: #FFEFED; 
  --font-montserrat: 'Montserrat'; 
  --font-poppins: 'Poppins';
  
  --radius-10p: 10px; 
  --radius-15p: 15px; 

  
}

.brand.slick-slider .slick-track {
  @apply flex justify-center gap-[198px];
}

.feature_product_slide.slick-slider .slick-track {
  @apply flex gap-1;
}

.spring_sale.slick-slider .slick-track {
  @apply flex gap-6;
}

.slick-prev:before,
.slick-next:before {
  display: none;
}

.icon:hover path {
  fill: #ff624c;
}

input[type="range"]::-webkit-slider-thumb {
  width: 16px;
  height: 16px;
  background: #ff624c;
  border-radius: 50%;
  pointer-events: auto;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type="range"]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #ff624c;
  border-radius: 50%;
  pointer-events: auto;
  cursor: pointer;
  -webkit-appearance: none;
}

.targetInput:checked + .customCheckBox {
  background: var(--color-orange);
  border:  var(--color-orange);
}

.targetInputParen:has(.targetInput:checked ){
  font-weight: 700;
}

.secondSlider .slick-current img {
    border-width: 2px;
    border-style: solid;
    border-color: rgb(255, 98, 76);
    border-image: initial;
}

.countInput {
  -moz-appearance: textfield;
}

.countInput::-webkit-outer-spin-button,
.countInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
